extends ../layout

block content

  h1  My Herbs

  h3  Add an herb
  form(action='/herbs' method='post')
    label Name
    input(type='text' name='herb[name]')
    label Oz
    input(type='number' name='herb[oz]')
    label In Stock?
    input(type='checkbox' name='herb[inStock]')
    input(type='submit' value='Add this herb')

  table
    each herb in herbs
      if herb.inStock
        tr
          td #{herb.name}
          td (#{herb.oz} oz)
          td available
          td
            a(href='#' class='edit') Edit
            a(href='/herbs/' + herb.id + '/delete') Delete
          form(action='/herbs/' + herb.id method='post')
            td(style="display: none;")
              label Name
              input(type='text' name='herb[name]' value=herb.name)
            td(style="display: none;")
              label Oz
              input(type='number' name='herb[oz]' value=herb.oz)
            td(style="display: none;")
              label In Stock?
              if herb.inStock
                input(type='checkbox' name='herb[inStock]' checked='#{herb.inStock}' )
              else
                input(type='checkbox' name='herb[inStock]')
            td(style="display: none;")
              input(type='submit' value='Update this herb')
      else
        tr
          td #{herb.name}
          td (#{herb.oz} oz)
          td unavailable
          td
            a(href='#' class='edit') Edit
            a(href='/herbs/' + herb.id + '/delete') Delete
          form(action='/herbs/#{herb.id}' method='post')
            td(style="display: none;")
              label Name
              input(type='text' name='herb[name]' value=herb.name)
            td(style="display: none;")
              label Oz
              input(type='number' name='herb[oz]' value=herb.oz)
            td(style="display: none;")
              label In Stock?
              if herb.inStock
                input(type='checkbox' name='herb[inStock]' checked='#{herb.inStock}' )
              else
                input(type='checkbox' name='herb[inStock]')
            td(style="display: none;")
              input(type='submit' value='Update this herb')
